<template>
  <div v-title="'Import Requests'">
    <div class="ui vertical stripe segment">
      <h2 class="ui header">{{ $t('Music requests') }}</h2>
      <div :class="['ui', {'loading': isLoading}, 'form']">
        <div class="fields">
          <div class="field">
            <label>{{ $t('Search') }}</label>
            <input type="text" v-model="query" placeholder="Enter an artist name, a username..."/>
          </div>
          <div class="field">
            <label>{{ $t('Status') }}</label>
            <select class="ui dropdown" v-model="status">
              <option :value="'any'">{{ $t('Any') }}</option>
              <option :value="'pending'">{{ $t('Pending') }}</option>
              <option :value="'accepted'">{{ $t('Accepted') }}</option>
              <option :value="'imported'">{{ $t('Imported') }}</option>
              <option :value="'closed'">{{ $t('Closed') }}</option>
            </select>
          </div>
          <div class="field">
            <label>{{ $t('Ordering') }}</label>
            <select class="ui dropdown" v-model="ordering">
              <option v-for="option in orderingOptions" :value="option[0]">
                {{ option[1] }}
              </option>
            </select>
          </div>
          <div class="field">
            <label>{{ $t('Ordering direction') }}</label>
            <select class="ui dropdown" v-model="orderingDirection">
              <option value="+">Ascending</option>
              <option value="-">Descending</option>
            </select>
          </div>
          <div class="field">
            <label>{{ $t('Results per page') }}</label>
            <select class="ui dropdown" v-model="paginateBy">
              <option :value="parseInt(12)">12</option>
              <option :value="parseInt(25)">25</option>
              <option :value="parseInt(50)">50</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div
        v-if="result"
        v-masonry
        transition-duration="0"
        item-selector=".column"
        percent-position="true"
        stagger="0"
        class="ui stackable three column doubling grid">
        <div
          v-masonry-tile
          v-if="result.results.length > 0"
          v-for="request in result.results"
          :key="request.id"
          class="column">
          <request-card class="fluid" :request="request"></request-card>
        </div>
      </div>
      <div class="ui center aligned basic segment">
        <pagination
          v-if="result && result.results.length > 0"
          @page-changed="selectPage"
          :current="page"
          :paginate-by="paginateBy"
          :total="result.count"
          ></pagination>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'
import $ from 'jquery'

import logger from '@/logging'

import OrderingMixin from '@/components/mixins/Ordering'
import PaginationMixin from '@/components/mixins/Pagination'
import RequestCard from '@/components/requests/Card'
import Pagination from '@/components/Pagination'

const FETCH_URL = 'requests/import-requests/'

export default {
  mixins: [OrderingMixin, PaginationMixin],
  props: {
    defaultQuery: {type: String, required: false, default: ''},
    defaultStatus: {required: false, default: 'any'}
  },
  components: {
    RequestCard,
    Pagination
  },
  data () {
    let defaultOrdering = this.getOrderingFromString(this.defaultOrdering || '-creation_date')
    return {
      isLoading: true,
      result: null,
      page: parseInt(this.defaultPage),
      query: this.defaultQuery,
      paginateBy: parseInt(this.defaultPaginateBy || 12),
      orderingDirection: defaultOrdering.direction || '+',
      ordering: defaultOrdering.field,
      status: this.defaultStatus || 'any'
    }
  },
  created () {
    this.fetchData()
  },
  mounted () {
    $('.ui.dropdown').dropdown()
  },
  methods: {
    updateQueryString: _.debounce(function () {
      let query = {
        query: {
          query: this.query,
          page: this.page,
          paginateBy: this.paginateBy,
          ordering: this.getOrderingAsString()
        }
      }
      if (this.status !== 'any') {
        query.query.status = this.status
      }
      this.$router.replace(query)
    }, 500),
    fetchData: _.debounce(function () {
      var self = this
      this.isLoading = true
      let url = FETCH_URL
      let params = {
        page: this.page,
        page_size: this.paginateBy,
        q: this.query,
        ordering: this.getOrderingAsString()
      }
      if (this.status !== 'any') {
        params.status = this.status
      }
      logger.default.debug('Fetching request...')
      axios.get(url, {params: params}).then((response) => {
        self.result = response.data
        self.isLoading = false
      })
    }, 500),
    selectPage: function (page) {
      this.page = page
    }
  },
  computed: {
    orderingOptions: function () {
      return [
        ['creation_date', this.$t('Creation date')],
        ['artist_name', this.$t('Artist name')],
        ['user__username', this.$t('User')]
      ]
    }
  },
  watch: {
    page () {
      this.updateQueryString()
      this.fetchData()
    },
    paginateBy () {
      this.updateQueryString()
      this.fetchData()
    },
    ordering () {
      this.updateQueryString()
      this.fetchData()
    },
    orderingDirection () {
      this.updateQueryString()
      this.fetchData()
    },
    query () {
      this.updateQueryString()
      this.fetchData()
    },
    status () {
      this.updateQueryString()
      this.fetchData()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
